@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*::before,
*::after{
  box-sizing: border-box;
}


body{
  width: 1440px;
  height: 5835px;
  margin: auto;
  padding: 0;
}

.header__title{
  margin-top: 42px;
  font-family: Heebo;
  font-size: 36px;
  font-weight: 800;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  padding-left: 52px;
  padding-right: 56px;
}

.header__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 703px;
  height: 36px;
  margin-top: 51px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.section1{
  margin-top: 66.14px;
}

.section1__title{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D9CDB;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 277px;
}

.section1__text{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 277px;
  width: 543px;
}

.section1__img{
  margin-left: 52px;
  margin-top: 42px;
  border-radius: 18px;
}

.section1__text2{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  width: 366px;
  height: 141px;
  margin-left: 277px;
  margin-top: 42px;
}

.section1__text3{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  width: 366px;
  height: 137px;
  margin-left: 277px;
  margin-top: 42px;
}

.section1__title2{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  height: 21px;
  width: 172px;
  margin-left: 277px;
  margin-top: 42px;
  margin-bottom: 9px;
}

.section1__input-wrapper{
  position: relative;
}

.section1__input{
  width: 350px;
  height: 57px;
  background: #F2F2F2;
  border-radius: 12px;
  border-style: none;
  margin-left: 277px; 
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 21px;
}

.section1__button{
  position: absolute;
  background: #2D9CDB;
  width: 94px;
  height: 49px;
  border-radius: 12px;
  border-style: none;
  color: #F2F2F2;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  transform: translateX(-95px) translateY(5px); 
}

.section2{
  margin-top: 200px;
}

.section2__title{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  height: 108px;
  width: 346px;
  margin-left: 165px;
}

.section2__boxes{
  display: flex;
  margin-left: 165px;
  gap: 41px;
}

.section2__box{
  height: 422px;
  width: 341px;
  border-radius: 24px;
  background-color: white;
  padding: 46px 34px;
}

.section2__box:hover{
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.section2__minibox1{
  height: 67px;
  width: 67px;
  border-radius: 16px;
  background-color: #2D9CDB;
  ;
}

.section2__minibox2{
  height: 67px;
  width: 67px;
  border-radius: 16px;
  background-color: #27AE60;
}

.section2__minibox3{
  height: 67px;
  width: 67px;
  border-radius: 16px;
  background-color: #EB5757;
}

.section2__title2{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 35px;
}

.section2__text{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 96px;
  width: 273px;
}

.section2__button{
  height: 42px;
  width: 116px;
  border-radius: 12px;
  border-style: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  cursor: pointer;
}

.section2__button:active{
  background-color: #2D9CDB;
  color: white;
}

.section3{
  margin-top: 194px;
  margin-left: 165px;
}

.section3__title{
  height: 108px;
  width: 448px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.section3__boxes{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.section3__column1{
  margin-top: 188px;
}

.section3__img{
  border-radius: 12px;
  margin-bottom: 20px;
}

.section3__text{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin: 0;
  padding: 0;
}

.section3__text2{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin: 0;
  padding: 0;
}

.section3__text3{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: right;
  color: #2D9CDB;
  margin-top: 133px;
}

.section3__box1{
  margin-bottom: 110px;
}

.section3__box3{
  margin-bottom: 160px;
}